@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:300');

* {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

body {
  background-color: #111111;
  height: 100%;
}

.background {
  background: url("../img/va-back.png") right center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  z-index: -10;

  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.background > div {
  background-color: #111111;
  height: 100vh;
  opacity: 0.45;
}

.foreground {
  display: flex;
  flex-flow: column;
  height: 100vh;
  left: 0px;
  padding-left: 5vw;
  padding-top: 5vh;
  position: fixed;
  top: 0px;
  width: 100vw;
}

header h1 {
  color: silver;
  font-family: monospace;
  font-size: 80px;
  font-weight: 100;
}

nav {
  bottom: 7vh;
  position: fixed;
}

nav ul {
  list-style: none;
}

nav a {
  color: rgba(128, 128, 128, 0.5);
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: calc(12px + 5vh);
  letter-spacing: -3px;
  line-height: calc(5px + 4.2vh);
  text-decoration: none;
  text-transform: lowercase;
}

nav a:focus {
  color: #855E42;
  outline: none;
}

nav a:hover {
  color: lightgray;
  outline: none;
}
